.header__lang-item {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0 18px;
}

.header__lang-item:last-of-type {
  margin-right: 48px;
}

@media screen and (max-width: 794px) {
  .header__lang-item {
    font-size: 18px;
    line-height: 20px;
  }
  .header__lang-item:last-of-type {
    margin-right: 24px;
  }
}

@media screen and (max-width: 525px) {
  .header__lang-item:last-of-type {
    margin-right: 16px;
  }
}
