.lead__image {
  max-height: 615px;
  max-width: 984px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 64px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    max-height: 580px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-height: 580px;
    max-width: 768px;
  }
}

@media screen and (max-width: 817px) {
  .lead__image {
    max-height: 530px;
    max-width: 768px;
  }
}


@media screen and (max-width: 784px) {
  .lead__image {
    max-height: 480px;
    max-width: 728px;
  }
}

@media screen and (max-width: 760px) {
  .lead__image {
    max-height: 390px;
    max-width: 690px;
  }
}


@media screen and (max-width: 675px) {
  .lead__image {
    max-height: 300px;
    max-width: 610px;
  }
}


@media screen and (max-width: 525px) {
  .lead__image {
    max-height: 200px;
    max-width: 510px;
  }
}


@media screen and (max-width: 425px) {
  .lead__image {
    max-height: 200px;
    max-width: 320px;
  }
}

