.cover__overlay {
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  object-position: center;
  background-size: cover;
  background-position: top;
  margin: 0 auto;
}

.cover__overlay::before {
  position: absolute;
  content: '';
  background: rgba(42, 44, 47, 0.9);
  height: 100%;
  z-index: -1;
}

.cover__overlay:hover {
  opacity: 0.3;
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width: 425px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
