.place__url-heading {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  color: #AAAAAA;           
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    line-height: 12px;
    margin-bottom: 12px;
  }
}
