.intro__title {
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  font-weight: 900;
  margin: 92px auto 40px 148px;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    margin: 92px 48px 40px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    margin: 88px 24px 40px;
  }
}

@media screen and (max-width: 525px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 64px auto 40px auto;
  }
}
